<section class="section">
  <div class="container">
    <!-- Game details -->
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="media-center">
          <figure class="image">
            <% if game.image.blank? %>
              <p>No image available</p>
            <% else %>
              <%= image_tag game.image %>
            <% end %>
          </figure>
        </div>

      </div>
      <div class="column is-two-thirds">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-2"><%= game.title %></h1>
              <p class="subtitle is-size-4">Developer: Game Developer</p>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <p>Official Price: $<%= game.official_store_price %></p>
              <p>Key Store Price: $<%= game.key_store_price %></p>
              <p>Release Date: <%= game.release_date %></p>
              <a href="#" class="button is-primary">Buy Now</a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
