<!DOCTYPE html>
<html>
  <head>
    <title>GameHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>


  <body>
    <!-- Hero section -->
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">Wrest Games</h1>
          <h2 class="subtitle is-size-4">Your Ultimate Gaming Destination</h2>
          <p>Discover, purchase, and enjoy a diverse range of games from top developers.</p>
          <br>
          <a class="button is-large is-primary" href="#">Explore Games</a>
        </div>
      </div>
    </section>
    <%= yield %>
  </body>

  <%= render partial: 'common/footer' %>
</html>
